project:
  type: website
  
execute:
  freeze: auto

website:
  title: "R/Tidyverse/Quarto - get started"
  favicon: "images/rfun_logo.png"
  repo-url: https://github.com/data-and-visualization/Intro2R
  repo-actions: [edit, issue]
  page-footer: 
    background: light
    left: "<a href='https://rfun.library.duke.edu'>Rfun</a>"
    center: "<a href='https://library.duke.edu/data'>Center for Data & Visualization Sciences</a>"
    right: "<a href='https://library.duke.edu/'>Duke University Libraries</a>"
  navbar: 
    logo: "images/rfun_logo.png"
    right:
      - text: About
        href: about.qmd
      - icon: github
        href: https://github.com/data-and-visualization/Intro2R
        aria-label: GitHub
      - text: "CDVS"
        menu:
          - text: "Rfun Home"
            href: "https://rfun.library.duke.edu/"
          - text: "Cntr for Data & Viz Sci"
            href: https://library.duke.edu/data/  
  sidebar:
    style: "floating"
    collapse-level: 1
    search: false
    contents:
      - section: Home
        contents:
          - href: index.qmd
          - text: Get RStudio - Packages
            href: packages.qmd
      - section: Get started
        contents:
          - text: start **Coding**
            href: quarto.qmd
          - text: Projects (Reproducibility)
            href: proj.qmd
          - text: Import data
            href: import.qmd
          - text: Wrangle {dplyr}
            href: wrangle.qmd
          - text: Pivot data (tall or wide)
            href: longer_wider.qmd
          - text: Join data frames
            href: join.qmd
          - text: EDA
            href: eda.qmd
      - section: Visualization
        contents:
          - text: ggplot2
            href: viz.qmd
          - text: plotly | HTML widgets
            href: widgets.qmd
          - text: More interactivity {ojs}
            href: interactive.qmd            
      - section: AI-assist code (ChatGPT)
        contents:
          - text: How to
            href: ai.qmd
      - section: Models/Regression
        contents:
          - text: Regression
            href: regression.qmd
          - text: Tidymodels
            href: tidymodels.qmd
      - section: Functions & iteration
        contents:
          - text: Custom functions
            href: functions.qmd
          - text: Iteration with {purrr}
            href: purrr.qmd            
      - section: Examples
        contents:
          - text: Exploratory Data Analysis (EDA)
            href: tidy_tuesday_itra.qmd
          - text: map() 10x Excel files
            href: map_import_clean_regex.qmd
      - section: Exercises
        contents:
          - text: link-to
            href: https://github.com/data-and-visualization/Intro2R/tree/main/_exercises

format:
  html:
    df-print: paged
    theme: sandstone
    css: styles.css
    toc: true

editor: visual



